---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic Q29zbWljU3BhZ2V0dGk6MmFiNjI1ZDk3M2JkZTk1MTY5N2UyYWQ1NGI2NTU3ZGM3MjJkMzk5Yg==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4998'
      X-Ratelimit-Reset:
      - '1562807126'
      Etag:
      - W/"50d16eeda8e3f29cd4acfb8edadc6e83"
      X-Oauth-Scopes:
      - public_repo
      X-Accepted-Oauth-Scopes:
      - ''
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?page=2>; rel="next", <https://api.github.com/user/repos?page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":176383436,"node_id":"MDEwOlJlcG9zaXRvcnkxNzYzODM0MzY=","name":"battleship","full_name":"bplantico/battleship","private":false,"owner":{"login":"bplantico","id":43261385,"node_id":"MDQ6VXNlcjQzMjYxMzg1","avatar_url":"https://avatars3.githubusercontent.com/u/43261385?v=4","gravatar_id":"","url":"https://api.github.com/users/bplantico","html_url":"https://github.com/bplantico","followers_url":"https://api.github.com/users/bplantico/followers","following_url":"https://api.github.com/users/bplantico/following{/other_user}","gists_url":"https://api.github.com/users/bplantico/gists{/gist_id}","starred_url":"https://api.github.com/users/bplantico/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/bplantico/subscriptions","organizations_url":"https://api.github.com/users/bplantico/orgs","repos_url":"https://api.github.com/users/bplantico/repos","events_url":"https://api.github.com/users/bplantico/events{/privacy}","received_events_url":"https://api.github.com/users/bplantico/received_events","type":"User","site_admin":false},"html_url":"https://github.com/bplantico/battleship","description":"Battleship
        Paired Project ","fork":false,"url":"https://api.github.com/repos/bplantico/battleship","forks_url":"https://api.github.com/repos/bplantico/battleship/forks","keys_url":"https://api.github.com/repos/bplantico/battleship/keys{/key_id}","collaborators_url":"https://api.github.com/repos/bplantico/battleship/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/bplantico/battleship/teams","hooks_url":"https://api.github.com/repos/bplantico/battleship/hooks","issue_events_url":"https://api.github.com/repos/bplantico/battleship/issues/events{/number}","events_url":"https://api.github.com/repos/bplantico/battleship/events","assignees_url":"https://api.github.com/repos/bplantico/battleship/assignees{/user}","branches_url":"https://api.github.com/repos/bplantico/battleship/branches{/branch}","tags_url":"https://api.github.com/repos/bplantico/battleship/tags","blobs_url":"https://api.github.com/repos/bplantico/battleship/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/bplantico/battleship/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/bplantico/battleship/git/refs{/sha}","trees_url":"https://api.github.com/repos/bplantico/battleship/git/trees{/sha}","statuses_url":"https://api.github.com/repos/bplantico/battleship/statuses/{sha}","languages_url":"https://api.github.com/repos/bplantico/battleship/languages","stargazers_url":"https://api.github.com/repos/bplantico/battleship/stargazers","contributors_url":"https://api.github.com/repos/bplantico/battleship/contributors","subscribers_url":"https://api.github.com/repos/bplantico/battleship/subscribers","subscription_url":"https://api.github.com/repos/bplantico/battleship/subscription","commits_url":"https://api.github.com/repos/bplantico/battleship/commits{/sha}","git_commits_url":"https://api.github.com/repos/bplantico/battleship/git/commits{/sha}","comments_url":"https://api.github.com/repos/bplantico/battleship/comments{/number}","issue_comment_url":"https://api.github.com/repos/bplantico/battleship/issues/comments{/number}","contents_url":"https://api.github.com/repos/bplantico/battleship/contents/{+path}","compare_url":"https://api.github.com/repos/bplantico/battleship/compare/{base}...{head}","merges_url":"https://api.github.com/repos/bplantico/battleship/merges","archive_url":"https://api.github.com/repos/bplantico/battleship/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/bplantico/battleship/downloads","issues_url":"https://api.github.com/repos/bplantico/battleship/issues{/number}","pulls_url":"https://api.github.com/repos/bplantico/battleship/pulls{/number}","milestones_url":"https://api.github.com/repos/bplantico/battleship/milestones{/number}","notifications_url":"https://api.github.com/repos/bplantico/battleship/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/bplantico/battleship/labels{/name}","releases_url":"https://api.github.com/repos/bplantico/battleship/releases{/id}","deployments_url":"https://api.github.com/repos/bplantico/battleship/deployments","created_at":"2019-03-18T23:07:37Z","updated_at":"2019-03-28T00:33:31Z","pushed_at":"2019-03-28T22:16:36Z","git_url":"git://github.com/bplantico/battleship.git","ssh_url":"git@github.com:bplantico/battleship.git","clone_url":"https://github.com/bplantico/battleship.git","svn_url":"https://github.com/bplantico/battleship","homepage":null,"size":152,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":1,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":1,"license":null,"forks":1,"open_issues":1,"watchers":0,"default_branch":"master","permissions":{"admin":false,"push":true,"pull":true}},{"id":181714010,"node_id":"MDEwOlJlcG9zaXRvcnkxODE3MTQwMTA=","name":"1903_final","full_name":"CosmicSpagetti/1903_final","private":false,"owner":{"login":"CosmicSpagetti","id":46055043,"node_id":"MDQ6VXNlcjQ2MDU1MDQz","avatar_url":"https://avatars1.githubusercontent.com/u/46055043?v=4","gravatar_id":"","url":"https://api.github.com/users/CosmicSpagetti","html_url":"https://github.com/CosmicSpagetti","followers_url":"https://api.github.com/users/CosmicSpagetti/followers","following_url":"h[...]
